body {
  background-color: #81d5e851;
  font-family: Arial, sans-serif;
  text-align: center;
}
h1 {
  font-size: 60px;
  color: #333;
  margin-top: 50px;
}
img {
  border-radius: 30px;
  width: 80%;
  max-width: 600px;
  margin: 20px auto;
  display: block;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
p {
  font-size: 40px;
  color: #666;
  margin: 50px auto;
  width: 50%;
}
iframe {
  border: none;
  margin: 60px auto;
  display: block;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
}
button {
  font-size: 40px;
  padding: 15px 30px;
  background-color: #4adbebd4;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 50px;
  font-weight: bold;
}
button:hover {
  background-color: #32eaff;
}
button:active {
  background-color: #fcff46;
  color: #333;
}
