body {
  text-align: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  background-color: bisque;
}
h1 {
  font-size: 80px;
  margin-bottom: -20px;
}
h2 {
  font-size: 50px;
  text-align: left;
  margin-left: 20%;
}
ol {
  font-family:
    Comic Sans MS,
    cursive,
    sans-serif;
  font-size: 40px;
  display: inline-block;
}
img {
  border-radius: 20px;
  height: auto;
  width: auto;
  object-fit: cover; /* Обрезает изображение, чтобы заполнить контейнер */
  max-height: 300px;
  box-shadow: 0 4px 10px rgb(0, 0, 0);
  margin: 50px;
  padding: 10px;
}
button {
  font-family:
    Comic Sans MS,
    cursive,
    sans-serif;
  font-size: 40px;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  animation: blink 1s infinite; /* Анимация мигания */
}
@keyframes blink {
  50% {
    opacity: 0;
  }
}
button:active {
  background-color: #45a049;
}
.navbar {
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  padding: 60px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  margin-top: 20px;
}
.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}
.nav-list li a {
  text-decoration: none;
  color: white;
  font-size: 50px;
  font-weight: bold;
  padding: 20px 100px;
  border-radius: 25px;
  transition: all 0.3s ease;
}
.nav-list li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transform: translateY(-3px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
